*** --------------------------------------------------------------------------------------- ***
*** REQUIREMENTS FOR EXECUTING THE AUGMECON-PY SOFTWARE ***
*** --------------------------------------------------------------------------------------- ***

The software was developed in a computer with the following hardware characteristics, whereas the minimum requirements for executing the code in reasonable time frames are listed in brackets:

CPU: Intel Core i7 (i5) @ 1.30GHz (1.20GHz)
RAM: 12 GB (8 GB)

Moreover, the following software is required:

Windows 10 64bit
Microsoft Excel 365
Python 3.8
Gurobi 9.5.1






